<div class="col-lg-12">
    This page provide an overview of some of the configuration value of the Leosac system.
    <br> <br>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" {{action 'refresh'}}>
                <i style="color: green" class="fa fa-refresh"></i> Refresh
            </a>
        </div>

        <div class="panel-body">
            {{system-overview}}
        </div>
    </div>

    {{simple-number-picker desc='Number of entries'
    onSelect=(route-action "updateLogView")
    userNumber=model.numLastLogs
    }}

    {{#if model.showLastLog}}
        <div class="panel panel-default">
            <div class="panel-heading">
                Last logs
            </div>

            <div class="panel-body">
                {{logs-view logs=model.lastLogs}}
            </div>
        </div>
    {{/if}}
</div>
