<footer class="navbar-fixed-bottom">
    <hr>
    <div class="container">
        <p class="text-muted text-center">
            Leosac version: {{globalInfo.version}}
        </p>
    </div>
</footer>
