<div class="row">
    <div class="col-sm-1">
        <label for="userNumber" class="sr-only">{{desc}}</label>
        {{#bs-input type='number' value=userNumber
        placeholder=desc}}
        {{/bs-input}}
    </div>
    <div class="col-sm-1">
        <button class="btn btn-sm btn-primary btn-block" type="submit" {{action 'numberSelected'}}>
            Update
        </button>
    </div>
</div>
